
   
<%- include('./includes/head.ejs') %> 


<%- include('./includes/nav.ejs') %> 

  
<p>Welcome to <%= title %></p>

<% if (flights.length) { %> 
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <%for(let flight of flights){ %> 
     
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Airline <%= flight.airline %> 
              <small class="text-muted"><%= flight.flightNo %></small></h5>
              <div class="card-header"><h2> Airport <%= flight.airport %></h2></div>
              <div class=<%= flight.departs.getFullYear() !== new Date().getFullYear() ? 'dateError' : '' %> >
                <p class="card-text">Your departure date is <%= flight.departs %></p>
              </div>
            </div>
            <a href="/single-flight/<%= flight.id %>" class="card-link">view</a>
            <form action="/single-flight/delete-flight/<%= flight._id%>" method="POST" >
              <input type="hidden" name="flightId" value=<%= flight._id%> >
              <button class=" btn-danger" type="submit" style="width: 140px;">Delete</button>
          </form>
          </div>
        </div>
      </div>
     <% } %> 
  </div>
<% } else {%>
  <h1>Flight Departures not updated yet.. please <a href="/add-flight">add flight</a></h1>
<% } %>



<%- include('./includes/footer.ejs') %> 

  
