<%- include('./includes/head.ejs') %> 


<%- include('./includes/nav.ejs') %> 

    <p>Welcome to <%= title %></p>


    <div class="card">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5> 
      </div>
      <div class="col-12 list d-flex">
        <h3 class="col-6">Airport :  </h3>
        <p class="col-6"><%= flight.airport %></p>
    </div> 

    <div class="col-12 list d-flex">
        <h3 class="col-6">Airline :  </h3>
        <p class="col-6"><%= flight.airline %></p>
    </div> 
    <div class="mb-12 list d-flex">
        <h3 class="col-6">Flight No : </h3>
        <p class="col-6"><%= flight.flightNo %> </p>
    </div>

    <div class="mb-12 list d-flex">
        <h3 class="col-6">Depart:</h3>
        <p class="col-6"><%= new Date(flight.departs) %></p>
    </div>
      <div class="card-body">
        <a href="/single-flight/edit/<%= flight._id%>"  class="card-link">Edit This Flight</a>
      </div>
    </div>

<div class="mb-12 list">

  <%# this is for the arrival %> 
  <% if(flight.destinations.length > 0){ %> 
    <% flight.destinations.forEach(el => {%>
      <div class="md-12 d-flex  justify-content-between">
        <h3 class="">Arrival AirPort : <%= el.airport %> </h3>
        <form action='/single-flight/delArrival' method='POST' class="removeSub">
            <input type="hidden"  name="delArrival" value=<%= el._id %> >
            <input type="hidden"  name="parent" value=<%= parentId %> >
            <button type="submit" class="btn btn-danger"> X </button>
        </form>
      </div>
      <div class="mb-12 ">
        <h3 class="col-6">Arrival Date:</h3>
        <p class="col-6"><%= el.date %>  </p>
      </div>
    <% }); %> 
<% } else { %> 
    <h3>Please add destination...</h3>
<% } %> 
</div>

 <%# This is for the price and seat %> 
 <% if(flight.tickets.length > 0){ %> 
  <% flight.tickets.forEach(t => {%>
       <div class="mb-12 list">
          <h3 class="col-6">Price: <span class="col-6">$<%= t.price%> </span></h3>  
      </div>

      <div class="mb-12 list">
          <h3 class="col-6">Seat: <span class="col-6"><%= t.seat %>  </span></h3> 
      </div>
  <% }); %> 
<% } else { %> 
  <h3>Please add ticket...</h3>
<% } %> 



    <form action="/single-flight/<%= flight._id%>/add-arrival" method="POST" class="card">
      <div class="mb-12">
          <label for="airline" class="form-label">Airport</label>
          <select class="form-select" name="arrivalAirport" aria-label="Default select example" >
              <option selected> select airport...</option>
              <option value="AUS"> AUS</option>
              <option value="DFW"> DFW</option>
              <option value="DEN"> DEN</option>
              <option value="LAX"> LAX</option>
              <option value="SAN"> SAN</option>
          </select>
      </div> 
      <div class="mb-12">
          <label for="exampleFormControlInput1" class="form-label"> Arrival Date</label>
          <input type="datetime-local" class="form-control"  name="arrivalDate" id="exampleFormControlInput1">
      </div>
      <button type="submit" class="btn btn-secondary btn-lg b1" >Add Arrival</button>
  </form>

  <form action="/single-flight/<%= flight._id%>/add-ticket" method="POST" class="card">
    <div class="mb-12">
        <label for="exampleFormControlInput1" class="form-label"> Seat</label>
        <input name="seat"  class="form-control" id="exampleFormControlInput1" required pattern="[A-F][1-9]\d" >
    </div>
    <div class="mb-12">
        <label for="exampleFormControlInput1" class="form-label">Price</label>
        <input type="number" name="price" class="form-control" id="exampleFormControlInput1">
    </div>
    <button type="submit" class="btn btn-secondary btn-lg b1" >Add </button>
</form>



    <%- include('./includes/footer.ejs') %> 